[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "submodules/gorillaz-mountain"]
	path = submodules/gorillaz-mountain
	url = git@github.com:macabot/gorillaz-mountain.git
