{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>

{{- if .Content }}
<div class="post-content md-content">
  {{ .Content }}
</div>
{{- end }}

<div class="post-feed">
  {{- range .Pages.ByDate.Reverse }}
  <article class="post-entry">
    <header class="entry-header">
      <h2 class="entry-hint-parent">
        {{- .Title -}}
      </h2>
    </header>
    {{- if .Summary }}
    <div class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}</p>
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}
</div>

{{- end }}
